*
!.gitignore
!tip/
!.faq/
!.home/
!.home/bin/
!.home/tip/
!.zsh/
!.vim/
!.irssi/
!.irssi/scripts/
!.irssi/scripts/autorun/
!.vim/after/
!.zshrc
!.zshenv
!.vimrc
!.tmux.conf
!.ghci.sh
!.config/
!.config/uzbl/
!.config/uzbl/config
!.ssh/config
!.xmobarrc
!.dmenu
!.rdebugrc
!.Rprofile
!.ackrc

